<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Кузня</a>
        <a href="/shop">Магазин</a>
        <a href="/inventory">Инвентарь</a>
        <a href="/guild">Гильдия</a>
        <a href="/auction">Аукцион</a>
        <a href="/upgrades">Улучшения</a>
    </nav>
    <h1>Кузня</h1>
    
    <div class="forge_container">
        <div class="forge_station">
            <h2 class="forge_title">Наковальня</h2>
            <div class="forge_slots_wrapper">
                <div id="slot-blade" class="slot" data-placeholder="Лезвие" data-default="Лезвие" onclick="unselectMaterial(this, 'Лезвие')" style="cursor: pointer;"></div>
                <div id="slot-guard" class="slot" data-placeholder="Гарда" data-default="Гарда" onclick="unselectMaterial(this, 'Гарда')" style="cursor: pointer;"></div>
                <div id="slot-handle" class="slot" data-placeholder="Рукоять" data-default="Рукоять" onclick="unselectMaterial(this, 'Рукоять')" style="cursor: pointer;"></div>
            </div>
            
            <div class="forge_controls">
                <input type="text" id="sword-name" class="sword_input" placeholder="Имя клинка...">
                <button class="forge_btn" onclick="forgeSword()">ВЫКОВАТЬ</button>
            </div>
        </div>

        <div class="forge_inventory">
            <h2 class="forge_title">Ваши материалы</h2>
            <div class="inventory_grid">
                {% for item in inventory %}
                    {% if user['forge_level'] >= item['required_forge_level'] %}
                        <div id="mat-{{ loop.index }}" class="item_card rarity_{{ item.rarity }}" onclick="selectMaterial('{{ item.name }}', '{{ item.category }}', '/static/{{ item.image_url }}', 'mat-{{ loop.index }}')" style="cursor: pointer;">
                        <img src="/static/{{ item.image_url }}" alt="{{ item.name }}" style="width: 48px; height: 48px; image-rendering: pixelated; margin-bottom: 10px;">
                        <p style="font-size: 12px; margin-bottom: 5px;">{{ item.name }}</p>
                        <p style="font-size: 10px; opacity: 0.7;">{{ item.category }} ({{ item.quantity }} шт)</p>
                        <p style="font-size: 10px; opacity: 0.7;">Цена: {{ item.base_price }} 🪙</p>
                    </div>
                    {% endif %}
                {% else %}
                <p>У вас нет материалов. Купите их в Магазине!</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <script src="/static/forgery.js"></script>
    <div class="minigame_blade">
        <div class="green_zone">

        </div>
        <div class="slider">

        </div>
    </div>
    <div class="minigame_guard">
        
    </div>
    <div class="minigame_handle">
        
    </div>
</body>
</html>